<div class="card-panel">
<%= form_for [:admin, @gallery], html: { multipart: true } do |f| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <script>
      M.toast({html: $("#error_explanation").html()});
    </script>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :published_at %><br>
    <%= f.date_field :published_at, value: @gallery&.published_at.nil? ? Date.today : @gallery.published_at.to_date %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <% if @gallery.id %>
  <%= link_to admin_gallery_gallery_images_path(@gallery) do %>
    <div class="btn">
      <span>Edit Images</span>
    </div>
  <% end %>
  <% end %>
  <div id='gallery_images' class='flex-container'>
    <%= render @gallery.gallery_images %>
  </div>
  <br>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
<% end %>
</div>