<div class='d-flex flex-wrap justify-content-center'>
  <div class="article card">
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body">
      <!-- Title -->
      <h3 class="card-title text-center"><b><%= @static_page.name %></b></h3>
      <!-- Text -->
      <p class="card-text"><%= @static_page.body.html_safe %></p>
    </div>
  <!-- Card -->
</div>

<div class="d-flex flex-wrap justify-content-center <%= 'sortable' if current_user&.admin? %>" >
  <% @employees.each do |employee| %>
    <div class="employee card" id="<%= employee.sortable_id %>">
      <!-- Card image -->
      <%= image_tag employee.image.thumb.url %>
      <!-- Card content -->
      <div class="card-body text-center">
        <!-- Title -->
        <h6 class="card-title"><b><%= employee.name %></b></h6>
        <!-- Text -->
        <p class="card-text"><%= employee.position %></p>
      </div>
    </div>
  <% end%>
  <!-- Card -->
</div>