<div class="card-panel">
<%= form_for([:admin, @event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <ul>
      <li><h6><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h6></li>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <script>
      M.toast({html: $("#error_explanation").html()});
    </script>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :published_at %><br>
    <%= f.date_field :published_at, value: @event&.published_at.nil? ? Date.today : @event.published_at.to_date %>
  </div>
  <div class="input-field">
    <%= f.label :category_id %><br>
    <%= f.collection_select(:category_id, Category.event, :id, :name) %>
  </div>
  <div class="input-field">
    <%= f.label :gallery_id %><br>
    <%= f.collection_select(:gallery_id, Gallery.all, :id, :title, include_blank: true) %>
  </div>
  <%= image_tag(@event.thumbnail.thumb.url, class: 'img_prev', style: ('display:none;' if @event.thumbnail.nil? )) %>
  <div class="file-field input-field">
    <div class="btn">
      <span>Image</span>
      <%= f.file_field :thumbnail, onchange: 'image_preview(this);' %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Upload the thumbnail here">
    </div>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary, class: "materialize-textarea", id: "summary-textarea", data: { length: 300 }, placeholder: "Write the event summary here" %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.cktext_area :body, class: 'someclass', rows: 40, ckeditor: { language: 'us' } %>
  </div>
  <br>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
<% end %>
</div>
<script>
$('textarea#summary-textarea').characterCounter();
</script>
