<!-- comment -->
              <div class="media">
                <div class="media-left">
                  <img class="media-object" src="/img/avatar-1.jpg" alt="">
                </div>
                <div class="media-body">
                  <div class="media-heading">
                    <h4>Anon</h4>
                    <span class="time"><%= time_ago_in_words(comment.created_at) %> ago</span>
                    <a href="#" class="reply" data-id="<%= comment.id %>" >Reply</a>
                  </div>
                  <p><%= comment.body %></p>
                </div>
                <div id="<%= "reply-#{comment.id}" %>" class="article-reply" hidden>
                    <h3>Leave a reply</h3>
                    <%= form_for [@post, Comment.new] do |f| %>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <input class="input" placeholder="Name" type="text">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <input class="input" placeholder="Email" type="email">
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <%= f.text_area :body, class: "input", placeholder: "Message" %><br/>
                          </div>
                          <%= f.submit "Add Comment", class: "primary-button" %>
                        </div>
                      </div>
                    <% end %>
                </div>
                <!-- comment -->
                <%= render partial: 'comments/comment', collection: comment.comments %>
                <!-- /comment -->
              </div>
              <!-- /comment -->