<div class="comment-box card-panel">
  <div class="valign-wrapper">
    <div class="comment-left left">
      <%= image_tag "avatar-1.jpg", class: "circle responsive-img large"%>
    </div>
    <div class="comment-right right">
      <div class="comment-header">
        <h6>Mary Jane<h6>
        <span><%= time_ago_in_words(comment.created_at) %> ago </span>
        <button type='button' class="right reply-button btn waves-effect waves-light" data-id="<%= comment.id %>" >Reply</button>
      </div>
      <div class="comment-content">
        <p> <%= comment.body %></p>
      </div>
    </div>
  </div>
  <div class="valign-wrapper">
    <%= render partial: 'comments/comment', collection: comment.comments %>
  </div>
  <div id="<%= "reply-#{comment.id}" %>" class="card-panel reply reply-box" style="display:none;">
    <%= form_for [comment, comment.comments.build] do |f| %>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :body, class: "materialize-textarea", id: "body-textarea", rows: 3 %>
          <label for="body-textarea">Reply to this comment</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    <% end %>
  </div>
</div>