<div class="comment-box">
  <div class="card-body">
    
    <div class="row">
        <div class="col-2 col-md-2 col-sm-0">
          <%= image_tag "anonymous-avatar.jpg", class: "comment-avatar"%>
        </div>
        <div class="comment-content col-10 col-md-10 col-sm-12">
          <h5 class="card-title"><%= comment.name %></h5>
          <p class="card-text"><%= comment.body %></p>
          <span class="float-left"><%= comment.persisted? ? time_ago_in_words(comment.created_at) : '0 minutes'%> ago </span>
          <a href="#!" class="btn btn-primary float-right reply-button" data-id="<%= comment.id %>">Reply</a>
        </div>
        
    </div>
    <%= render(partial: 'comments/comment_form', locals: {comment: comment}) if comment.persisted?%>
    <div class="reply-box">
      <% comment.comments.each do |comment| %>
        <%= render partial: 'comments/comment', locals: { comment: comment } if comment.persisted? %>
      <% end %>
    </div>
    
  </div>
</div>
