<%= form_for([:admin, @employee]) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <script>
      M.toast({html: $("#error_explanation").html()});
    </script>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control mb-4" %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position, class: "form-control mb-4" %>
  </div>
  <div class="field">
    <%= f.label :sort %><br>
    <%= f.text_field :sort, class: "form-control mb-4" %>
  </div>
  <%= image_tag(@employee.image_url, class: "img_prev mb-4", style: ('display:none;' if @employee.image_url.nil? )) %>
  <div class="custom-file mb-4">
    <%= f.file_field :image, id: "image-field", onchange: 'image_preview(this, 150, 200);', class: 'custom-file-input' %>
    <label class="custom-file-label" for="customFile">Choose file</label>
  </div>
  <br>
  <button class="btn btn-primary btn-block btn-lg mb-4" type="submit" name="action">SUBMIT <i class="fas fa-paper-plane ml-1"></i></button>
<% end %>

