<div class="container">
<h3> Staff </h3>
<%= link_to admin_root_path, class:'btn waves-effect waves-light' do %>
  <i class="material-icons left">arrow_back</i>Back
<% end%>
<div class="card-panel">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="sortable">
    <% @employees.each do |employee| %>
      <tr id="<%= employee.sortable_id %>">
        <td><%= employee.name %></td>
        <td><%= employee.position %></td>
        <td><%= link_to 'Show', employees_path %></td>
        <td><%= link_to 'Edit', edit_admin_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', [:admin, employee], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New employee', new_admin_employee_path, class:'btn waves-effect waves-light' %><br>
</div>
</div>
