<%= javascript_include_tag Ckeditor.cdn_url%>
<%= form_for([:admin, @post]) do |f| %>
<%= f.hidden_field :user_id, value: current_user.id %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <ul>
      <li><h6><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h6></li>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <script>
      M.toast({html: $("#error_explanation").html()});
    </script>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control mb-4" %>
  </div>
  <div class="field">
    <%= f.label :published_at %><br>
    <%= f.date_field :published_at, value: @post&.published_at.nil? ? Date.today : @post.published_at.to_date, class: "form-control mb-4" %>
  </div>
  <div class="input-field">
    <%= f.label :category_id %><br>
    <%= f.collection_select(:category_id, Category.post, :id, :name, {}, class: 'browser-default custom-select mb-4') %>
  </div>
  <%= image_tag(@post.thumbnail.thumb.url, class: 'img_prev mb-2', style: ('display:none;' if @post.thumbnail.nil? )) %>
  <div class="custom-file mb-4">
      <%= f.file_field :thumbnail, onchange: 'image_preview(this);', class: 'custom-file-input' %>
      <label class="custom-file-label" for="customFile">Choose file</label>
  </div>
  <div class="form-group">
    <%= f.label :summary %><br>
    <%= f.text_area :summary, class: "form-control", id: "summary-textarea", data: { length: 300 }, placeholder: "Write the post summary here" %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.cktext_area :body, class: 'form-control', rows: 40, ckeditor: { language: 'us' } %>
  </div>
  <br>
  <button class="btn btn-primary btn-block btn-lg mb-4" type="submit" name="action">SUBMIT <i class="fas fa-paper-plane ml-1"></i></button>
<% end %>
<script>
$('textarea#summary-textarea').characterCounter();
</script>
