<div class="card single-card">  
  <div class="card-body m-0">
    <div class="d-flex justify-content-between">
      <%= link_to admin_root_path, class:'btn dark-gradient' do %>
        <i class="material-icons left">arrow_back</i>Back
      <% end%>
      <h2 class="float-none text-center"> categories </h2>
      <%= link_to 'New category', new_admin_category_path, class:'btn dark-gradient' %>
    </div>
    <div class="table-responsive text-nowrap">
      <table class="table ">
        <thead class="dark-gradient">
          <tr>
            <th>Name</th>
            <th colspan="2" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td class="text-center"><%= link_to 'Edit', edit_admin_category_path(category), class: "btn btn-link" %></td>
              <td class="text-center"><%= link_to 'Destroy', [:admin, category], class: "btn btn-link", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <div>
    <div class="center">
        <%= will_paginate @categories, renderer: @custom_paginate_renderer %>
    </div>
  </div>
</div>

