<div class="container">
  <%= form_tag(posts_path, method: :get, class: 'search-form') do %>    
    <div class="bg-light rounded rounded-pill shadow mb-4">
      <div class="input-group">
        <%= text_field_tag :search, nil, placeholder: 'Cari sesuatu', class: 'form-control border-0 mt-1 ml-2 bg-light rounded rounded-pill' %>
        <div class="input-group-append">
          <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  <% end %>
  <div class="d-flex justify-content-center">
    <%= link_to "Semua", posts_path(search: params[:search]), class: "waves-effect waves-light btn dark-gradient white-text" %>
    <% @categories.each do |category| %>
      <%= link_to "#{category.name}", posts_path(category: category.name, search: params[:search]), class: "waves-effect waves-light btn dark-gradient white-text" %>
    <% end %>
  </div>
  <h3 class="center-align"><%= params[:category] %></h3>
  <% if params[:search] %>
    <h3> Hasil Pencarian dari "<%= params[:search] %>"</h3>
  <% end %>
</div>