<div class='header-banner flex-container container-fluid mt-5'>
    <% @menus.each do |menu| %>
    <%= link_to menu[:url] do%>
    <div class="card bg-dark text-white shadow m-2 border-0">
      <%= cl_image_tag(menu[:image_url], class: 'card-img img-fluid', aspect_ratio: "16:9", width: 400, height: 250,
                           :crop => :fill) %>
      <div class="card-img-overlay d-flex align-items-center justify-content-center rounded dark-gradient">
        <h2 class="card-title font-weight-bold"><%= menu[:title] %></h2>
      </div>
    </div>
    <% end%>
    <% end %>
</div>


<div class='blog text-center container-fluid p-5'>
  <h1 class="center-align"> Buletin </h1>
  <%= render 'searchbar' %>
</div>


  <div class='d-flex flex-wrap'>
    <% @posts.each do |post| %>
    
    <div class="post card">
      <!-- Card image -->
      <div class="view overlay">
        <% if post.thumbnail_url %>
          <%= image_tag post.thumbnail.thumb.url, class: 'card-img-top zoom img-fluid' %>
        <% else %>
          <%= image_tag 'missing-image.jpg', class: 'card-img-top zoom img-fluid' %>
        <% end %>
        <%= link_to post do %>
          <div class="mask rgba-white-slight"></div>
        <% end %>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title"><b><%= post.title%></b></h4>
        <!-- Text -->
        <p class="card-text"><%= post.summary %></p>
        <!-- Button -->
        <a href="<%=posts_path(category: post&.category&.name, search: params[:search])%>" class="btn dark-gradient white-text"><%= post.category.name %></a>

      </div>

    </div>
    <!-- Card -->
    <% end%>
    
  </div>
  <div class="center">
    <!--%= will_paginate @posts%-->
  </div>
</div>