<div class='header-banner flex-container container-fluid mt-5'>
    <% @menus.each do |menu| %>
    <%= link_to menu[:url] do%>
    <div class="card bg-dark text-white shadow m-2 border-0">
      <%= cl_image_tag(menu[:image_url], class: 'card-img img-fluid', aspect_ratio: "16:9", width: 400, height: 250,
                           :crop => :fill) %>
      <div class="card-img-overlay d-flex align-items-center justify-content-center rounded">
        <h2 class="card-title font-weight-bold"><%= menu[:title] %></h2>
      </div>
    </div>
    <% end%>
    <% end %>
</div>


<div class='blog text-center container-fluid p-5'>
  <h1 class="center-align"> Buletin </h1>

  <div class="container">
      <%= form_tag(posts_path, method: :get, class: 'search-form', placeholder: 'Cari sesuatu') do %>
          
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
          <div class="input-group">
            <%= text_field_tag :search, nil, class: 'form-control border-0 bg-light rounded rounded-pill' %>
            <div class="input-group-append">
              <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      <% end %>
  </div>

  <div class="row">
    <div class="col s6 offset-s3 container">

      <div class="row center-align categories">
        <%= link_to "Semua", posts_path(search: params[:search]), class: "waves-effect waves-light btn" %>
        <% @categories.each do |category| %>
          <%= link_to "#{category.name}", posts_path(category: category.name, search: params[:search]), class: "waves-effect waves-light btn" %>
        <% end %>
      </div>
      <h3 class="center-align"><%= params[:category] %></h3>
    </div>
  </div>


  <div class='flex-container'>

    <% @posts.each do |post| %>
    <%= link_to post do %>
    <div class='post'>
      <div class="card hoverable z-depth-1">
        <div class="card-image">
          <% unless post.thumbnail_url.nil? %><%= image_tag post.thumbnail.thumb.url, class: 'responsive-img' %><br /><% end %>
        </div>
        <div class="card-content">
          <h5><b><%= post.title%></b></h5>
          <p><%= post.summary %></p>
        </div>
        <div class="card-action">
          <a href="#"><%= post.category.name %></a>
        </div>
      </div>
    </div>
    <% end%>
    <% end %>
  </div>
  <div class="center">
    <!--%= will_paginate @posts%-->
  </div>
</div>