<div class='blog text-center p-4'>
  <h1 class="center-align"> Buletin </h1>
  <%= render 'searchbar' %>

  <div class='flex-container'>

    <% @posts.each do |post| %>
    <%= link_to post do %>
      <div class="post card hoverable z-depth-1">
        <div class="card-image">
          <% unless post.thumbnail_url.nil? %><%= image_tag post.thumbnail.thumb.url %><br /><% end %>
        </div>
        <div class="card-content text-break">
          <h5><b><%= post.title%></b></h5>
          <p class="text-wrap text-break"><%= post.summary %></p>
        </div>
        <div class="card-action">
          <a href="<%=events_path(category: post&.category&.name, search: params[:search])%>"><%= post.category.name %></a>
        </div>
      </div>
    </div>
    <% end%>
    <% end %>
  <div class="center">
    <!--%= will_paginate @posts, renderer: @custom_paginate_renderer %-->
  </div>
</div>