<section class="s-content">
  <div class="row masonry-wrap">
    <div class="masonry">
      <div class="grid-sizer"></div>
      
      <% @posts.each do |post| %>
      <article class="masonry__brick entry format-standard" data-aos="fade-up">
        <div class="entry__thumb">
            <a href="/images/sample-image.jpg" class="entry__thumb-link">
                <img src="<%= post.image_url %> " 
                         alt="error">
            </a>
        </div>
        <div class="entry__text">
          <div class="entry__header">
              
              <div class="entry__date">
                  <a href="<%= post_path(post.id) %> "><%= post.created_at.strftime('%d %B %Y') %></a>
              </div>
              <h1 class="entry__title"><a href="<%= post_path(post.id) %>"><%= post.title %></a></h1>
              
          </div>
          <div class="entry__excerpt">
              <p><%= post.body.truncate(100) %> </p>
            <p class="read-more"><a href="<%= post_path(post.id) %>">Read more...</a></p>
          </div>
          <div class="entry__meta">
              <span class="entry__meta-links">
                  <%= post.category.name%>
              </span>
          </div>
        </div>
      </article> <!-- end article -->
      <% end %>
    </div> <!-- end masonry -->
  </div> <!-- end masonry-wrap -->
  <%= will_paginate %>
</section> 