<% if notice %>
    <div id="notice">
      <h2><%= notice %></h2>
    </div>
<% end %>
<div class='container single-post'>
  <h1><%= @post.title %></h1>
  <div class="divider"></div><br>
  <div class="meta-info">
    <i class="inline-icons material-icons">today</i>
    <span><%= @post.created_at.strftime('%B %e, %Y') %></span>
    <i class="inline-icons material-icons">account_circle</i>
    <span><%= @post.user.name %></span>
  </div>
  <div class="post-content section">
    <%= @post.body.html_safe %>
  </div>
  <div class="comments">
    <h3>Komentar</h3>
    <%= render(partial: 'comments/comment', collection: @post.comments) %>
  </div>
  <div class="reply">
    <h4> Tulis Komentar</h4>
    <%= form_for [@post, @post.comments.build] do |f| %>
      <%= f.hidden_field :post_id, value: @post.id%>
      <div class="field">
        <%= f.label :name, 'Nama' %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :body, 'Isi Komentar' %><br>
        <%= f.text_area :body, class: 'materialize-textarea', placeholder: 'Tulis Komentar di Sini!' %>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Kirim
        <i class="material-icons right">send</i>
      </button>
    <% end %>
  </div>
</div>