<div class="d-flex flex-wrap justify-content-center" >
  <% @galleries.each do |gallery| %>
  
    
    <div class="card bg-dark text-white shadow m-2 border-0">
      <%= link_to gallery.gallery_images.first.image.thumb.url, data: {lightbox: gallery.id} do%>
        <div class="card-img-overlay d-flex align-items-center justify-content-center rounded dark-gradient">
          <h2 class="card-title font-weight-bold"><%= gallery.title %></h2>
        </div>
      <% end %>
      <% unless gallery.gallery_images.nil? %>
        <%= image_tag gallery.gallery_images.first.image.thumb.url, class: 'card-img img-fluid' %>
        <% gallery.gallery_images.offset(1).each do |gallery_image| %>
          <a href="<%= gallery_image.image.url %>" data-lightbox="<%= gallery.id %>" style="display:none;"></a>
        <% end %>
      <% end %>
      
    </div>
    

  <% end %>
  <!-- Card -->
</div>
<div class="center">
  <%= will_paginate @galleries, renderer: @custom_paginate_renderer %>
</div>


<script>
lightbox.init();
</script>