<div class="fluid-container text-center">
  <h2 class="center-align mt-3"> Galeri </h2>
  <div class="d-flex flex-wrap justify-content-center" >
    <% @galleries.each do |gallery| %>
      <div class="gallery card bg-dark text-white shadow m-3 border-0" data-aos="fade-up">
        <%= link_to gallery.gallery_images.first.image.thumb.url, data: {lightbox: gallery.id} do%>
          <div class="card-img-overlay d-flex align-items-end justify-content-center rounded">
            <p class="card-title font-weight-bold"><%= gallery.title %></p>
          </div>
        <% end %>
        <% unless gallery.gallery_images.nil? %>
          <%= image_tag gallery.gallery_images.first.image.thumb.url, class: 'card-img img-fluid' %>
          <% gallery.gallery_images.offset(1).each do |gallery_image| %>
            <a href="<%= gallery_image.image.url %>" data-lightbox="<%= gallery.id %>" style="display:none;"></a>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <!-- Card -->
  </div>
  <%= will_paginate @galleries, renderer: @custom_paginate_renderer %>
</div>

<script>
lightbox.init();
</script>