<%= form_for([:admin, @video]) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <ul>
      <li><h6><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h6></li>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <script>
      M.toast({html: $("#error_explanation").html()});
    </script>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control mb-4" %>
  </div>
  <div class="field">
    <%= f.label :youtube_url %><br>
    <%= f.text_field :youtube_url, class: "form-control mb-4" %>
  </div>
  <div class="field">
    <%= f.label :published_at %><br>
    <%= f.date_field :published_at, value: @video&.published_at.nil? ? Date.today : @video.published_at.to_date, class: "form-control mb-4" %>
  </div>
  <%= image_tag(@video.thumbnail, class: 'img_prev mb-4', style: ('display:none;' if @video.thumbnail.nil? )) %>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.cktext_area :body, class: 'someclass', rows: 40, ckeditor: { language: 'us' } %>
  </div>
  <br>
  <button class="btn btn-primary btn-block btn-lg mb-4" type="submit" name="action">SUBMIT <i class="fas fa-paper-plane ml-1"></i></button>
<% end %>
