<div class="container">
  <%= form_tag(@form_url, method: :get, class: 'search-form') do %>    
    <div class="bg-light rounded rounded-pill shadow mb-4">
      <div class="input-group">
        <%= text_field_tag :search, nil, placeholder: 'Cari sesuatu', class: 'form-control border-0 mt-1 ml-2 bg-light rounded rounded-pill' %>
        <div class="input-group-append">
          <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  <% end %>
  <!--div class="d-flex justify-content-center flex-wrap">
    <%= link_to "Semua", @search_url, class: "waves-effect waves-light btn dark-gradient white-text" %>
    <% @categories.each do |category| %>
      <%= link_to "#{category.name}", @tag_urls[category.name] , class: "waves-effect waves-light btn dark-gradient white-text" %>
    <% end %>
  </div-->
  <!-- Basic dropdown -->
<button class="btn dark-gradient dropdown-toggle mr-4 white-text" type="button" data-toggle="dropdown"
  aria-haspopup="true" aria-expanded="false"><%= params[:category] ? params[:category] : 'Kategori' %></button>

<div class="dropdown-menu">
  <%= link_to "Semua", @search_url, class: "dropdown-item" %>
  <% @categories.each do |category| %>
    <%= link_to "#{category.name}", @tag_urls[category.name] , class: "dropdown-item" %>
  <% end %>
</div>
<!-- Basic dropdown -->

  <h3 class="center-align"><%= params[:category] %></h3>
  <% if params[:search] %>
    <h3> Hasil Pencarian dari "<%= params[:search] %>"</h3>
  <% end %>
</div>