<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Istaid</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400%7CSource+Sans+Pro:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <%= favicon_link_tag 'favicon.ico' %>

</head>
<body>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="left hide-on-med-and-down"><h5>ISTAID</h5></a>
      <a href="/" class="center brand-logo">
        <%= image_tag "white-istaid-logo-100.png"%>
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/blog">Buletin</a></li>
        <li><a href="/tentang-kami">Tentang Kami</a></li>
        <li><a href="/team">Tim Kami</a></li>
        <li><a href="/events">Kegiatan</a></li>
        <li><a href="/galleries">Galeri</a></li>
        <li><a href="/donate">Donasi</a></li>
        <% if current_user&.admin? %>
          <li><a href="/admin">Admin</a></li>
        <% else %>
          <li><a href="/login">Login</a></li>
        <% end %>
        <%# <li>
          <div class="center row">
            <div class="col s12 " >
              <div class="row" id="topbarsearch">
                <div class="input-field col s6 s12">
                  <i class="material-icons prefix">search</i>
                  <input type="text" placeholder="Search" id="autocomplete-input" class="autocomplete" >
                </div>
              </div>
            </div>
          </div>
        </li> %>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Buletin</a></li>
  <li><a href="/tentang-kami">Tentang Kami</a></li>
  <li><a href="/team">Tim Kami</a></li>
  <li><a href="/events">Kegiatan</a></li>
  <li><a href="/gallery">Galeri</a></li>
  <li><a href="/donate">Donasi</a></li>
</ul>
<%= yield %>
<% if notice %>
<script>M.toast({html: '<%= notice %>' });</script>
<% end %>
</body>
</html>
