<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags site: 'Istaid' %>
  

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400%7CSource+Sans+Pro:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

  <%= favicon_link_tag 'favicon.ico' %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128948221-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-128948221-1');
  </script>


</head>
<body class="grey lighten-4">
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-gradient">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="/">ISTAID</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= current_class?('/') %>">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item <%= current_class?('/blog') %>">
        <a class="nav-link" href="/blog">Buletin</a>
      </li>
      <li class="nav-item <%= current_class?('/tentang-kami') %>">
        <a class="nav-link" href="/tentang-kami">Tentang Kami</a>
      </li>
      <li class="nav-item <%= current_class?('/videos') %>">
        <a class="nav-link" href="/videos">Video</a>
      </li>
      <li class="nav-item <%= current_class?('/events') %>">
        <a class="nav-link" href="/events">Kegiatan</a>
      </li>
      <li class="nav-item <%= current_class?('/galleries') %>">
        <a class="nav-link" href="/galleries">Galeri</a>
      </li>
      <li class="nav-item <%= current_class?('/donate') %>">
        <a class="nav-link" href="/donate">Donasi</a>
      </li>
      <% if current_user&.admin? %>
        <li class="nav-item <%= current_class?('/admin') %>">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
      <% else %>
        <li class="nav-item <%= current_class?('/login') %>">
          <a class="nav-link" href="/login">Login</a>
        </li>
      <% end %>

    </ul>
    <!-- Links -->

    <%= image_tag "white-istaid-logo-50.png", class: "mt-2" %>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
</div>
<%= yield %>
<% if notice %>
<script>M.toast({html: '<%= notice %>' });</script>
<% end %>
<script>
AOS.init({
  // Global settings:
  disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
  startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
  initClassName: 'aos-init', // class applied after initialization
  animatedClassName: 'aos-animate', // class applied on animation
  useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
  disableMutationObserver: false, // disables automatic mutations' detections (advanced)
  debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
  throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)
  

  // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
  offset: 120, // offset (in px) from the original trigger point
  delay: 0, // values from 0 to 3000, with step 50ms
  duration: 1000, // values from 0 to 3000, with step 50ms
  easing: 'ease', // default easing for AOS animations
  once: false, // whether animation should happen only once - while scrolling down
  mirror: false, // whether elements should animate out while scrolling past them
  anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

});
</script>
</body>
</html>
